@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 53% 92%;
    --foreground: 204 18% 10%;
    --card: 0 0% 100%;
    --card-foreground: 204 18% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 204 18% 10%;
    --primary: 146 50% 36%;
    --primary-foreground: 0 0% 98%;
    --secondary: 195 50% 85%;
    --secondary-foreground: 204 18% 10%;
    --muted: 195 50% 85%;
    --muted-foreground: 204 18% 30%;
    --accent: 204 18% 26%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 50% 80%;
    --input: 0 0% 100%;
    --ring: 146 50% 36%;
    --chart-1: 146 50% 36%;
    --chart-2: 204 18% 26%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 204 18% 10%;
    --foreground: 0 0% 98%;
    --card: 204 18% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 204 18% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 146 50% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 204 18% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 204 18% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 195 53% 80%;
    --accent-foreground: 204 18% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 18% 20%;
    --input: 204 18% 20%;
    --ring: 146 50% 40%;
    --chart-1: 146 50% 40%;
    --chart-2: 195 53% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
